.page-about {
  margin: 0 auto;
  max-width: 1222px;
  padding: 79px 15px 46px;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-gap: 17px;
  @media screen and (max-width: 1020px) {
    display: block;
  }
  .sidebar {
    @media screen and (max-width: 1020px) {
      display: none;
    }

  }

  strong,
  b {
    font-weight: bold;
    font-size: 16px;
  }
  .main {
    margin-top: -18px;
    max-width: 700px;
    p {
      margin-bottom: 30px;
      line-height: 30px;
      letter-spacing: 1px;
    }
    h5 {
      margin-bottom: 25px;
      text-decoration: underline;
      @include helveticalight;
    }
    ul {
      margin-bottom: 32px;
      li {
        padding-left: 30px;
        position: relative;
        margin-bottom: 25px;
        line-height: 19px;
        letter-spacing: .44px;
        @include helveticalight;
        &::before {
          content: '';
          position: absolute;
          top: 7px;
          left: 13px;
          width: 6px;
          height: 6px;
          background: #000;
          border-radius: 50%;
        }
      }
    }
  }
}
.widget  {
  h2 {
    margin-bottom: 23px;
    @include helveticalight;
    font-size: 20px;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 0.62px;
  }
  ul li {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: .45px;
    img {
      margin-right: 12px;
    }
    a {
      position: relative;
      top: -2px;
      left: 3px;
    }
  }
}

