.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 41px;
  @include helveticalight;
  font-size: 17px;
  line-height: 24px;
  color: white;
  background: $boston-blue;
  &.accent {
    background: $accent-light;
  }
}