.footer {
  padding-top: 41px;
  padding-bottom: 25px;
  color: white;

  .section__header,
  &__content,
  .map {
    position: relative;
    z-index: 10;
  }
  .section__header {
    margin-bottom: 50px;
  }
  .section__title {
    @include spinnaker;
    font-size: 22px;
    letter-spacing: 1.2px;
    &::after {
      bottom: -1px;
      width: 114px;
    }
  }
}
.footer__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 48px;
  margin: 0 auto 30px;
  padding: 0 15px;
  max-width: 1040px;
}
.footer__contacts {
  position: relative;
  top: 17px;
}
.footer__contacts li {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  @include helveticalight;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.2px;
}
.footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 3px 3px 0px rgba(255,255,255,.4);
  img {
    width: 26px;
  }
}
.footer-form {
  padding: 12px 20px;
  height: 194px;
  border: 1px solid white;
  &__text {
    margin-bottom: 13px;
    @include helveticalight;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    letter-spacing: .8px;
  }
  .form-group {
    margin-bottom: 10px;
    input[type="text"],
    input[type="email"],
    textarea {
      @include helveticalight;
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      text-indent: 7px;
      color: white;
      background: transparent;
      border: none;
      border-bottom: 1px solid $accent-hex;
    }
    input[type="text"],
    input[type="email"] {
      border: none;
    }
    textarea {
      width: 100%;
      height: 35px;
    }
    input[type="submit"] {
      display: table;
      margin: 0 auto;
      @include helveticalight;
      font-size: 16px;
      color: white;
      background: none;
      border-color: transparent;
      cursor: pointer;
    }
  }
  .form-group--full {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
    border-bottom: 1px solid $accent-hex;
    input {
      flex: 0 0 230px;
      @include placeholder-input(white);
    }
  }
}
.map {
  margin: 0 auto;
  max-width: 1020px;
}
