.header {
  padding: 3px 0;
  background: white;
}
.header__content {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1314px;
  @media screen and (max-width: 500px) {
    display: block;
  }

}
.main-menu {
  display: flex;
  margin-left: 98px;
  &.active {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 10000;
    li {
      padding: 20px 0;
      width: 200px;
      text-align: center;
      border-bottom: 1px solid $lucky-point;
      &.current-menu-item {
        color: darkred;
      }
      a {
        color: inherit;
        letter-spacing: .7px;
      }
    }
  }
  @media screen and (max-width: 1300px) {
    display: none;
  }

  li {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    @include helveticabold;
    font-size: 15px;
    color: $lucky-point;
  }
}
.wpglobus-lang {
  margin-left: 41px;
  a {
    margin-left: 11px;
    font-size: 16px;
  }
}
