.idea.section {
  padding-top: 34px;
  padding-bottom: 100px;
  .section__header {
    margin-bottom: 46px;
  }
  .section__title {
    left: 2px;
    letter-spacing: -.8px;
    &::after {
      width: 114px;
    }
  }
  .slick-dots {
    bottom: -60px;
  }
}
.idea__wrap {
  position: relative;
  z-index: 4;
}
.idea__content {
  position: relative;
  margin: 0 auto;
  max-width: 1083px;
  z-index: 4;
}
.idea__slide {
  padding: 0 26px;
}
.idea__block {
  padding: 28px 20px 54px;
  background: white;
  h5 {
    margin-bottom: 10px;
    @include helveticabold;
    font-size: 17px;
    letter-spacing: -0.22px;
    text-transform: uppercase;
    color: $lucky-point;
  }
}
.idea__text {
  @include helveticalight;
  font-weight: bold;
  letter-spacing: .48px;
  line-height: 24px;
  color: $pickled-bluewood;
  a {
    display: block;
    @include helvetica;
    letter-spacing: .48px;
    text-decoration: underline;
  }
  .read-more {
    position: relative;
    top: 8px;
    left: 4px;
    float: right;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: $picton-blue;
  }
}
.idea {
  .slider__arrow {
    top: 202%;
    width: 64px;
    &-left {
      left: -62px;
    }
    &-right {
      right: -62px;
    }
  }
}
