$blue: rgba(122, 211, 244, 1);
.navigation {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  //width: 200px;
  z-index: 100000000;
  &.light {
    li {
      &::after {
        background: #333;
      }
    }
    a {
      color: #333;
    }
  }
}
.navigation__list {
  list-style: none;
  li {
    position: relative;
    text-align: right;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      background: $blue;
      border-radius: 50%;
      right: 0;
      top: 49%;
      transform: translateY(-50%);
      cursor: pointer;
    }
    &:hover {
      cursor: pointer;
    }
    &:hover a{
      transform: translateX(0);
    }
  }
  a {
    display: block;
    text-decoration: none;
    padding: 5px 20px 5px 10px;
    font-size: 15px;
    transform: translateX(100%);
    transition: all 0.5s;
    color: $blue;
    &.active {
      transform: translateX(0);
    }
  }
}