.news__single-footer {
  margin-bottom: 30px;
  .socials {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px solid #ccc;
    &__links a {
      display: inline-block;
      margin-right: 30px;
      color: #2F3055;
    }
    .fab {
      img {
        width: 16px;
      }
    }
  }
  .news__item-footer {
    display: flex;
    align-items: center;
    height: 44px;
    font-size: 12px;
    border-top: 1px solid #ccc;
  }
  .news__show {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
  }
  .news__like {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-left: auto;
    fill: transparent;
    stroke: red;
    transition: all .3s;
  }
}