.partners {
  &.section {
    padding-top: 38px;
    padding-bottom: 70px;
  }
  .section__header {
    margin-bottom: 16px;
  }
  .section__title {
    padding-bottom: 4px;
    letter-spacing: -1.2px;
    &:after {
      width: 112px;
    }
  }
  .slider-buttons {
    @media screen and (max-width: 900px) {
      display: none;
    }

  }
  .slick-dots {
    bottom: -40px;
  }
}
.partners-wrap {
  position: relative;
  margin: 0 auto;
  max-width: 1178px;
}
.partners__img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 96px;
}
