.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100000000000;

  &__container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #1A2B6D;
    @media screen and (max-width: 760px) {
      padding-bottom: 20px;
    }

  }

  .close_popup {
    position: absolute;
    top: 60px;
    right: 60px;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 40px;
    @media screen and (max-width: 440px) {
      top: 17px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: white;
      z-index: 1000000;
    }

    &::before {
      right: -16px;
      transform-origin: top left;
      transform: rotate(45deg);
    }

    &::after {
      transform-origin: top right;
      transform: rotate(-45deg);
    }
  }

  h1 {
    margin-bottom: 30px;
    @include spinnaker;
    font-size: 66px;
    color: white;
    @media screen and (max-width: 760px) {
      font-size: 40px;
    }
    @media screen and (max-width: 440px) {
      font-size: 20px;
    }

  }
}

.popup__form {
  margin: 0 auto 30px;
  width: 736px;
  @media screen and (max-width: 760px) {
    width: auto;
    padding: 0 15px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    color: white;
    background: none;
    border: 2px solid white;
  }

  input[type="text"],
  input[type="email"] {
    text-indent: 10px;
    height: 35px;
    font-size: 16px;
    @include placeholder-input(white);
    @include placeholder-input-font-size(16px);
  }

  textarea {
    padding: 10px;
    width: 100%;
    height: 142px;
  }

  input[type="submit"] {
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 18px;
    text-align: center;
    color: $lucky-point;
    background: white;
    border: none;
    cursor: pointer;
  }
}

.popup__form-group {
  margin-bottom: 10px;
}

.popup__form-group--full {
  input[type="text"] {
    width: 100%;
  }
}

.popup__form-group--flex {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 760px) {
    display: block;
  }

  input {
    width: 48%;
    @media screen and (max-width: 760px) {
      width: 100%;
    }
    &:first-child {
      margin-bottom: 10px;
    }
  }
}

.btn-popup-wrap {
  text-align: right;
}

.popup-btn {
  display: inline-flex;

  &__button {
    padding: 0 30px;
    @include helveticalight;
    height: 50px;
    line-height: 50px;
    font-size: 17px;
    letter-spacing: .2px;
    color: white;
    background: $allports;
    border: none;
    transition: all .6s;

    &:hover {
      background: $lucky-point;
      cursor: pointer;
    }
  }

  &__before {
    position: relative;
    width: 50px;
    height: 50px;
    background: $lucky-point;
    transition: all .6s;

    &::after {
      content: '+';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      color: white;
    }

    &:hover {
      background: $picton-blue;
    }
  }
}

.popup__text {
  display: flex;
  color: #e2e2e2;
  @media screen and (max-width: 760px) {
    display: block;
  }
  & > *{
      margin: 6px 0;
      &:first-child {
          margin-top: 0;
      }
      &:last-child {
          margin-bottom: 0;
      }
  }


  a {
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: underline;
  }
}