.btn-popup-wrap {
  text-align: right;
}
.popup-btn {
  display: inline-flex;
  &__button {
    padding: 0 30px;
    @include helveticalight;
    height: 50px;
    line-height: 50px;
    font-size: 17px;
    letter-spacing: .2px;
    color: white;
    background: $allports;
    border: none;
    transition: all .6s;
    &:hover {
      background: $lucky-point;
      cursor: pointer;
    }
  }
  &__before {
    position: relative;
    width: 50px;
    height: 50px;
    background: $lucky-point;
    transition: all .6s;
    &::after {
      content: '+';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      color: white;
    }
    &:hover {
      background: $picton-blue;
    }
  }
}