.reimbursabile.section {
  padding-bottom: 39px;
  .btn {
    margin: 0 auto;
    display: none;
    @media screen and (max-width: 750px) {
      display: flex;
    }

  }
}
.reimbursabile-wrap {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1052px;
}
.reimbursabile__content {
  @include helveticalight;
  max-width: 950px;
  font-size: 17px;
  font-weight: 700;
  line-height: 28px;
}
