.sidebar {
  @media screen and (max-width: 700px) {
    padding: 0 15px;
  }

  ul.list,
  ul.sub-list {
    li {
      a {
        display: block;
        margin-bottom: 10px;
        @include spinnaker;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        position: relative;
        box-shadow: 0 0 13px rgba(0,0,0,.4);
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background: $accent;
        }
      }
    }
  }
  ul.list {
    position: relative;
    margin-bottom: 12px;
    padding-bottom: 50px;
    &::after {
      content: '';
      position: absolute;
      bottom: 12px;
      left: 50%;
      transform: translateX(-50%);
      width: 96px;
      height: 3px;
      background: $lucky-point;
    }
    & > li {
      margin-bottom: 30px;
      color: white;
      &:nth-child(2) {
        margin-bottom: 20px;
      }
      & > a {
        font-size: 17px;
      }
      a {
        padding: 20px 0;
        background: $fiord;
      }
    }
  }
  ul.sub-list {
     li {
       a {
         padding: 14px 0;
         letter-spacing: .7px;
         color: $lucky-point;
         background: $concrete;
       }
    }
  }
  &__title {
    margin-bottom: 20px;
    @include helveticalight;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: .6px;
    text-align: center;
  }
  &__contacts {
    ul {
      li {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        padding-left: 12px;
      }
      img {
        margin-right: 10px;
      }
      a {
        @include helveticalight;
        font-size: 14px;
        line-height: 21px;
        font-weight: bold;
        letter-spacing: .41px;
      }
    }
  }
}