section.connect-now
    h2.connect-now__title Aplică acum pentru o consultare și obține cât mai rapid<br> finanțarea pentru afacerea ta. Suntem pregătiți să acționăm!
    .connect-now__links
        a(href="#").connect-now__popup.popup-btn
            img(src="assets/i/letter-white.png")
            span Connecteaza-te acum!

        a(href="tel:37379966599").connect-now__phone
            img(src="assets/i/icon-phone-white.png")
            span +373 79 966 599

