section.section.consultation#js-consultation
    .consultation-wrap
        img(src="assets/i/consultation/consultation-bg.png" alt="")
        .consultation__content
            header.section__header
                h2.section__title Aveți nevoie de o consultație?
            .consultation__text Completați formularul, iar un specilist va lua legătura cu Dvs. în cel mai scurt timp, pentru a vă raspunde la întrebări sau pentru a stabili o întîlnire la birou. Succes!
            .btn-popup-wrap
                a(href="#").popup-btn
                    .popup-btn__before
                    button.popup-btn__button Trimite un mesaj