section.finance-gallery.section.section-dark
    .finance-gallery-wrap
        .finance-gallery__item
            .finance-gallery__after
            .finance-gallery__content
                img(src="")
