section#js-finance-gallery.finance-gallery.section.section-dark(style="background-image: url('assets/i/section-bg.jpg')")
    .finance-gallery-wrap
        .finance-gallery__item
            .finance-gallery__after
            .finance-gallery__content
                img(src="assets/i/finance-gallery/1.jpg" alt="")
                h6
                    a(href="finance-single.html") Finanțări pentru Agricultură >
        .finance-gallery__item
            .finance-gallery__after
            .finance-gallery__content
                img(src="assets/i/finance-gallery/2.jpg" alt="")
                h6
                    a(href="#") Finanțări pentru Zootehnie >
        .finance-gallery__item
            .finance-gallery__after
            .finance-gallery__content
                img(src="assets/i/finance-gallery/7.jpg" alt="")
                h6
                    a(href="#") Finanțări pentru Producere >
        .finance-gallery__item
            .finance-gallery__after
            .finance-gallery__content
                img(src="assets/i/finance-gallery/8.jpg" alt="")
                h6
                    a(href="#") Finanțări pentru Agroturism >
        .finance-gallery__item
            .finance-gallery__after
            .finance-gallery__content
                img(src="assets/i/finance-gallery/9.jpg" alt="")
                h6
                    a(href="#") Finanțări pentru Infrastructura >
        .finance-gallery__item
            .finance-gallery__after
            .finance-gallery__content
                img(src="assets/i/finance-gallery/6.jpg" alt="")
                h6
                    a(href="#") Finanțări pentru Servicii >

