footer.footer.section-dark(style="background-image: url('assets/i/footer-bg.jpg')")
    header.section__header.section__header--center
        h2.section__title Contactati-ne

    .footer__content
        ul.footer__contacts
            li
                i.footer__icon
                    img(src="assets/i/svg/home.svg" alt="")
                a(href="") Adresa noastră: mun.Chișinău,<br> bd. Mircea cel Bătrân 8/1
            li
                i.footer__icon
                    img(src="assets/i/svg/mail-footer.svg" alt="")
                a(href="mailto:euconsult.md@gmail.com") euconsult.md@gmail.com
            li
                i.footer__icon
                    img(src="assets/i/svg/phone.svg" alt="")
                a(href="tel:37379966599") Telefon: +373 79 966 599

        .footer-form
            p.footer-form__text Completați formularul pentru a lua legătura cu un specialist sau pentru a stabili o întîlnire la birou.

            .form-group.form-group--full
                input(type="text" name="name" placeholder="Nume/Prenume")
                input(type="email" name="name" placeholder="Email")

            .form-group
                textarea Mesajul Dvs.

            .form-group
                input(type="submit" value="Trimite")

    .map
        img(src="assets/i/map.jpg")
