header.header#js-header
    .header__content
        .logo
            a(href="index.html")
                img(src="assets/i/logo.png" alt='')

        .sandwitch-wrap
            .sandwitch
                .sandwitch__line.sandwitch__line--top
                .sandwitch__line.sandwitch__line--middle
                .sandwitch__line.sandwitch__line--bottom

        ul.main-menu#js-main-menu
            li.current-menu-item
                a(href="about.html") Despre noi
            li
                a(href="our-services.html") Servicii
            li
                a(href="non_reimbursable-financing.html") Finanțări nerambursabile
            li
                a(href="history-succes.html") Istorii de succes
            li
                a(href="idea-page.html") Idei de afacere
            li
                a(href="news.html") Știri
            li
                a(href="#") Contacte

        .wpglobus-lang
            .list
                a.wpglobus-selector-link.wpglobus-current-language(href='')
                    img(src='' alt='')
                    span.name Rom&acirc;n&abreve;
                    span.code RO
                a.wpglobus-selector-link(href='')
                    img(src='' alt='')
                    span.name &Rcy;&ucy;&scy;&scy;&kcy;&icy;&jcy;
                    span.code RU
                a.wpglobus-selector-link(href='')
                    img(src='' alt='')
                    span.name English
                    span.code EN




