section.history.section#js-history
    .history-wrap
        header.section__header.section__header--center
            h2.section__title Istorii de succes

        .history__slider-wrap
            .history__buttons
                .history-arrow.history-arow--left
                    svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 39 11" enable-background="new 0 0 39 11")
                        polygon(points="33.5,0 32.8,0.7 37.1,5 0,5 0,6 37.1,6 32.8,10.3 33.5,11 39,5.5 ")
                .history-arrow.history-arow--right
                    svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 39 11" enable-background="new 0 0 39 11")
                        polygon(points="33.5,0 32.8,0.7 37.1,5 0,5 0,6 37.1,6 32.8,10.3 33.5,11 39,5.5 ")

            .history__slider#js-history-slider
                .history__slide
                    .history__text Echipa EuConsult lucrează eficient și operativ. Din prima zi mi-au stabilit bine planul de acțiuni pentru accesarea grantului. Pe parcurs am urmat planul și am obținut grantul. Îi recomand pentru seriozitate, calitate și dinamism
                    .history__author
                        .history__img
                            img(src="assets/i/history/author.jpg")
                        .history__name Calos Vitalie
                .history__slide
                    .history__text  Datorită companiei EuConsult am putut să-mi dezvolt afacerea pînă la capăt. Echipa profesionistă mi-a oferit tot suportul și consultanța necesară pentru ca să obțin grantul de care aveam atât de mult nevoie.
                    .history__author
                        .history__img
                            img(src="assets/i/history/author.jpg")
                        .history__name Gandrabur Nicolae

