section.section.idea.section-dark(style="background-image: url('assets/i/section-bg.jpg')")
    .idea__wrap
        header.section__header.section__header--center
            h2.section__title Idei de afacere la cheie
        .idea__content
            .slider-buttons
                .slider__arrow.slider__arrow-left
                    img(src="assets/i/svg/right-arrow.svg")
                .slider__arrow.slider__arrow-right
                    img(src="assets/i/svg/right-arrow.svg")
            .idea__slider#js-idea__slider
                .idea__slide
                    .idea__img
                        img(src="assets/i/idea/1.jpg" alt="")
                    .idea__block
                        h5 CREȘTEREA CIREȘELOR ÎN SERE
                        .idea__text
                            a(href="#") Livadă super intensivă de cireși – o afacere profitabilă
                            p Pornind de la statistica la nivel mondial care arată că cererea de cireșe este în continuă creștere și că piața este acoperită doar în proporție de 26%, ajungem..
                            a.read-more(href="#") Afla mai mult
                .idea__slide
                    .idea__img
                        img(src="assets/i/idea/2.jpg" alt="")
                    .idea__block
                        h5 CREȘTEREA ZMEUREI ÎN SERE
                        .idea__text
                            a(href="#") Plantație intensivă de zmeură – o afacere profitabilă
                            p Pornind de la statistica la nivel mondial, cererea la pomușoare este în continuă creștere, pentru anul 2017 fiind de 8%, ajungem la concluzia că este..
                            a.read-more(href="#") Afla mai mult
                .idea__slide
                    .idea__img
                        img(src="assets/i/idea/1.jpg" alt="")
                    .idea__block
                        h5 CREȘTEREA CIREȘELOR ÎN SERE
                        .idea__text
                            a(href="#") Livadă super intensivă de cireși – o afacere profitabilă
                            p Pornind de la statistica la nivel mondial care arată că cererea de cireșe este în continuă creștere și că piața este acoperită doar în proporție de 26%, ajungem..
                            a.read-more(href="#") Afla mai mult
                .idea__slide
                    .idea__img
                        img(src="assets/i/idea/2.jpg" alt="")
                    .idea__block
                        h5 CREȘTEREA ZMEUREI ÎN SERE
                        .idea__text
                            a(href="#") Plantație intensivă de zmeură – o afacere profitabilă
                            p Pornind de la statistica la nivel mondial, cererea la pomușoare este în continuă creștere, pentru anul 2017 fiind de 8%, ajungem la concluzia că este..
                            a.read-more(href="#") Afla mai mult

