.index-intro.fullscreen-bg#js-index-intro
    .overlay
    .index-intro-content
        h1 Dezvoltă o afacere pe bani Europeni!
        p Oferim asistență completă în accesarea fondurilor europene destinate inițierii sau dezvoltării afacerii, atît pe teritoriul Republicii Moldova cît și pe teritoriul României.
        .index-intro-content__buttons
            a(href="about.html").btn.accent Despre EU Consult
            a(href="our-services.html").btn Serviciile noastre

    .index-intro-contacts
        .index-intro-contacts-wrap
            ul.index-intro-contacts__list
                li
                    img(src="assets/i/svg/map-in-marked.svg")
                    a(href="#") bd. Mircea cel Bătrân 8/1
                li
                    img(src="assets/i/svg/phone-symbol-of-an-auricular-inside-a-circle.svg")
                    a(href="#") +373 79966599
                li
                    img(src="assets/i/svg/mail.svg")
                    a(href="#") euconsult.md@gmail.com
                li
                    img(src="assets/i/svg/facebook-logo.svg")
                    a(href="#") bd. Mircea cel Bătrân 8/1
    video.fullscreen-bg__video(loop='' muted='' autoplay='' poster='assets/i/intro-video.jpg')
        source(src='assets/video/intro-video.mp4' type='video/mp4')
        source(src='assets/video/intro-video.webm' type='video/webm')

