.navigation#js-navigation
    .navigation__list
        li
            a(href="#js-reimbursabile") Finantari neramb.
            span.circle
        li
            a(href="#js-history") Istorii de succes
            span.circle
        li
            a(href="#js-footer") Contacte
            span.circle
