.navigation#js-navigation
    .navigation__list
        li
            a(href="#js-reimbursabile") Finantari neramb.
        li
            a(href="#js-history") Istorii de succes
        li
            a(href="#js-footer") Contacte
