.news__single-footer
    .socials
        .socials__links
            a(href="http://www.facebook.com/sharer/sharer.php?u=https://www.prodinfo.md/blog/berd-%C8%99i-guvernul-suediei-continu%C4%83-sus%C8%9Binerea-femeilor-antreprenoare")
                i.fab
                    img(src="assets/i/svg/facebook-logo-dark.svg")
            a(href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.prodinfo.md%2Fblog%2Fberd-%C8%99i-guvernul-suediei-continu%C4%83-sus%C8%9Binerea-femeilor-antreprenoare&original_referer=https%3A%2F%2Fsocial-blog.wix.com%2Fberd-%25C8%2599i-guvernul-suediei-continu%25C4%2583-sus%25C8%259Binerea-femeilor-antreprenoare%3FcacheKiller%3D1565781420225%26compId%3DTPASection_jrm43mo0%26currency%3DMDL%26dateNumberFormat%3Dro-ro%26deviceType%3Ddesktop%26height%3D480%26instance%3DZlTebwezVLv3mQZTMPSA05ckClDIAyVrhRsN3nseGkQ.eyJpbnN0YW5jZUlkIjoiNzY4MGYwM2YtZjdhZi00Mzc0LWI5ZmUtYjBkMDhhNmIzNThkIiwiYXBwRGVmSWQiOiIxNGJjZGVkNy0wMDY2LTdjMzUtMTRkNy00NjZjYjNmMDkxMDMiLCJtZXRhU2l0ZUlkIjoiM2IxZGNjZDEtYzY0Zi00YWUyLTgyNzgtMzE5MDU1ZTZhZmJkIiwic2lnbkRhdGUiOiIyMDE5LTA4LTE0VDExOjE2OjU0LjQwN1oiLCJ1aWQiOm51bGwsImlwQW5kUG9ydCI6IjE3OC4xNjguODEuMjIwLzQ2NzM0IiwidmVuZG9yUHJvZHVjdElkIjpudWxsLCJkZW1vTW9kZSI6ZmFsc2UsIm9yaWdpbkluc3RhbmNlSWQiOiJmMmUwZWFlYy0xMzE1LTQ1ZmMtOTEwYi1iY2JlNzcxMGUzYzIiLCJhaWQiOiIyNzQ3YTM2OC0xYzE3LTRjOGEtYTMwOC1kOWRlMmRhNjY1OTIiLCJiaVRva2VuIjoiNGQ5ZDNjZWUtMzFlMC0wOTk2LTNiODYtODE0MGRmOGQ5YTMwIiwic2l0ZU93bmVySWQiOiI3ZDc1MjA3ZS00Nzg4LTQwOWUtYmUxMS1jNmQ4ODI4Njk4MmIifQ%26isPrimaryLanguage%3Dtrue%26lang%3Dro%26locale%3Dro%26pageId%3Ddbm8s%26section-url%3Dhttps%253A%252F%252Fwww.prodinfo.md%252Fblog%252F%26siteRevision%3D717%26target%3D_top%26tz%3DEurope%252FChisinau%26viewMode%3Dsite%26vsi%3D23b86eed-0931-4223-b5b9-b5aebf8080ee%26width%3D980")
                i.fab
                    img(src="assets/i/svg/twitter.svg")
            a(href="https://www.linkedin.com/")
                i.fab
                    img(src="assets/i/svg/linkedin-logo.svg")
            a#js-show-address-string(href="#")
                i.fab
                    img(src="assets/i/svg/link-symbol.svg")

    .news__item-footer
        span.news__show
            span.pageviews-placeholder(data-key="92") 1
            | afisare
        span.news__like
