section.numbers.section.section-dark(style="background-image: url('assets/i/section-bg.jpg')")
    .numbers__content
        .numbers__item
            h5 Anul fondarii
            .numbers__text 2011
        .numbers__item
            h5 Clienti consultanti
            .numbers__text 1392
        .numbers__item
            h5 Granturi obtinute
            .numbers__text 802
        .numbers__item
            h5 Afaceri noi create
            .numbers__text 607
        .numbers__item
            h5 Companii dezvoltate
            .numbers__text 232
