section.partners.section
    header.section__header--center.section__header
        h2.section__title Partenerii nostrii

    .partners-wrap
        .slider-buttons
            .slider__arrow.slider__arrow-left
                img(src="assets/i/svg/right-arrow.svg")
            .slider__arrow.slider__arrow-right
                img(src="assets/i/svg/right-arrow.svg")
        .partners__slider#js-partners__slider
            .partners__slide
                .partners__img
                    img(src="assets/i/partners/1.png")
            .partners__slide
                .partners__img
                    img(src="assets/i/partners/2.png")
            .partners__slide
                .partners__img
                    img(src="assets/i/partners/3.png")
            .partners__slide
                .partners__img
                    img(src="assets/i/partners/2.png")
