section.section.reimbursabile
    .reimbursabile-wrap
        header.section__header
            h2.section__title Finanțări nerambursabile

        .reimbursabile__content ​EU CONSULT oferă monitorizare, consultanță și asistență în accesarea de fonduri europene (granturi/subvenții) destinate celor care vor să inițieze o afacere sau să o dezvolte. Suntem o echipă de specialiști din diferite domenii: finanțe, management, marketing, contabilitate, juridică. Lucrăm profesionist pentru tine/pentru afacerea ta, ca să obținem rezultate pozitive cu soluții originale.
