sidebar.sidebar
    ul.list
        li
            a(href="finance-country.html") FINANȚĂRI PENTRU REPUBLICA MOLDOVA
            ul.sub-list
                li
                    a(href="#") PROGRAM PARE 1+1
                li
                    a(href="#") SUBVENȚII ÎN AVANS
                li
                    a(href="#") SUBVENȚII DE STAT
                li
                    a(href="#") FEMEI ÎN AFACERI
                li
                    a(href="#") PROGRAM MAC-P
                li
                    a(href="#") START-UP P/U TINERI
                li
                    a(href="#") PROGRAM IFAD

        li
            a(href="finance-romania.html") FINANȚĂRI PENTRU ROMÂNIA
            ul.sub-list
                li
                    a(href="#") START-UP

        li
            a(href="finance-ue.html") FINANȚĂRI PENTRU UE

    .sidebar__contacts
        h4.sidebar__title Contactele noastre:
        ul
            li
                img(src="assets/i/icon-map.png")
                a(href="#") Chișinău, bd. Mircea cel Bătrân 8/1
            li
                img(src="assets/i/icon-letter.png")
                a(href="#") euconsult.md@gmail.com
            li
                img(src="assets/i/icon-phone.png")
                a(href="#") +373 799 665 99
