.socials-bottom
    ul.socials-bottom__list
        li.socials-bottom__item.phone
            a(href="tel:")
                img(src="assets/i/icon-phone-white.png")
        li.socials-bottom__item.facebook
            a(href="#")
                img(src="assets/i/icon-facebook-white.svg")
        li.socials-bottom__item.consult
            a(href="#")
                img(src="assets/i/icon-comment-white.svg")
