extends template

block css
    //- link(rel="stylesheet" type="text/css" href="assets/i/svg/bg/css/sprite.css")
    link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
    title Our services

block content
    include ../includes/mixins

    .hidden
        include ../../../build/assets/i/svg/inline/sprite.svg

    include ../includes/header

    .finance-single
        section.finance-single.section-dark.page-intro(style="background-image: url('assets/i/finance-single/agriculture.jpg'); background-position: center top")
            .page-intro__container
                header.section__header.section__header--center
                    h2.section__title FINANȚĂRI PENTRU AGRICULTURĂ
                p Tipuri de finanțări | Condiții | Activități și echipamente acceptate

        section.finance-single__container
            include ../includes/sidebar
            section.main-single
                p <b>Ce tipuri de finanțări există la moment pentru Agricultura?</b>
                ul
                    li Finanțări nerambursabile (grant/subvenție)
                    li Credite cu porțiune de grant (credit+grant)
                    li Credite la condiții avantajoase (fără %, cu % mic)

                img(src="assets/i/finance-single/agriculture_single.jpg")

                p Cine poate accesa aceste finanțări?
                ul
                    li Doritori de a iniția sau dezvolta o afacere
                    li Tineri cu vârsta de la 18 pâna la 35 ani
                    li Femei care doresc să inițieze o afacere

                p Ce activități și echipamente sunt acceptate?

                ul
                    li Producerea legumelor şi a fructelor, florilor și a verdețurilor pe teren protejat (sere de iarnă, solarii şi tuneluri)
                    li Infiinţarea, modernizarea şi defrişarea plantaţiilor multianuale, inclusiv a plantaţiilor viticole şi a plantaţiilor pomicole, pomusoarelor, culturilor aromatice
                    li Procurarea echipamentului de irigare
                    li Procurarea tehnicii şi utilajului agricol conventional (tractoare, combine, alte maşini şi utilaje agricole)
                    li Procurarea echipamentului no-till şi mini-till
                    li Construcţia/reconstrucţia şi renovarea infrastructurii aferente exploataţiilor agricole
                    li Construcţia depozitelor frigorifice de păstrare a fructelor, strugurilor şi legumelor şi a caselor de ambalare
                    li Prelucrarea primară/finită, procesarea, uscarea şi congelarea fructelor, strugurilor, legumelor şi cartofilor
                    li Prelucrarea primară/finită, uscarea, condiţionarea, depozitarea, păstrarea şi ambalarea cerealelor, oleaginoaselor, florii-soarelui şi soiei
                    li Recuperarea dobânzii (%) la credit
                    li Compensarea primei de asigurare a riscurilor culturilor agricole
                    li Activitatea Grupurilor de producători
                    li Promovarea produselor la export
                    li Pentru consolidarea(comasarea) terenurilor agricole
                    li Compensarea cheltuielilor la irigare
                    li Promovarea şi dezvoltarea agriculturii ecologice
                    li Cheltuieli de elaborare plan de afaceri, cursuri de instruire, asistență

        include ../includes/connect-now
    include ../includes/footer-hidden
    include ../includes/socials-bottom
    include ../includes/popup
    include ../includes/scripts/ie-scripts

block scripts
    script(src="assets/libs/jquery-easy-scroll/jquery.easeScroll.js")
