extends template

block css
    //- link(rel="stylesheet" type="text/css" href="assets/i/svg/bg/css/sprite.css")
    link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
    title Our services

block content
    include ../includes/mixins

    .hidden
        include ../../../build/assets/i/svg/inline/sprite.svg

    include ../includes/header

    section.our-services-intro.section-dark.page-intro(style="background-image: url('assets/i/our-services/our-services-intro.jpg'); background-position: center top")
        .page-intro__container
            header.section__header.section__header--center
                h2.section__title Serviciile noastre
            p Ce responsabilități și servicii avem pentru a ajuta afacerea Dvs. să se lanseze și să crească

    section.page-title
        .page-title__container
            h2.section__title Servicii oferite

    section.our-services
        .our-services__item.our-services__item--dark
            .our-services__container
                .our-services__content
                    header.our-sevices__header
                        .our-services__number
                            span 1.
                        h3.our-services__title MONITORIZAREA FINANȚĂRILOR PENTRU AFACEREA TA
                    ul.our-services__list
                        li Cercetăm în permanență piața de finanțări
                        li Te informăm despre finanțările existente

        .our-services__item
            .our-services__container
                .our-services__content
                    header.our-sevices__header
                        .our-services__number
                            span 2.
                        h3.our-services__title CONSULTANȚA<br> ASUPRA FINANȚĂRILOR DISPONIBILE
                    ul.our-services__list
                        li Efectuăm o analiză a afacerii tale
                        li Te ghidăm spre cele mai avantajoase finanțări
                        li Te informăm despre specificul fiecărei finanțări
                        li Adaptăm afacerea ta la cerințele programelor de finanțare

        .our-services__item.our-services__item--dark
            .our-services__container
                .our-services__content
                    header.our-sevices__header
                        .our-services__number
                            span 3.
                        h3.our-services__title ELABORARE PLAN DE AFACERI ȘI PREGĂTIREA SETULUI DE ACTE
                    ul.our-services__list
                        li Te documentăm despre actele necesare pentru accesarea fiecărei finanțări
                        li Pregătim setul de acte conform cerințelor programului de finanțare selectat
                        li Elaborăm planul de afaceri

        .our-services__item
            .our-services__container
                .our-services__content
                    header.our-sevices__header
                        .our-services__number
                            span 4.
                        h3.our-services__title ASISTENȚĂ FINANCIARĂ, CONTABILĂ ȘI JURIDICĂ ÎN ACCES. FINANȚĂRILOR
                    ul.our-services__list
                        li Acordăm asistență financiară, contabilă și juridică în procesul de accesare a finanțării
                        li Te consultăm și la etapa de implementare, post implementare a proiectului

        .our-services__item.our-services__item--dark
            .our-services__container
                .our-services__content
                    header.our-sevices__header
                        .our-services__number
                            span 5.
                        h3.our-services__title CONSULTANȚĂ ȘI ASISTENȚĂ ÎN INIȚIEREA ȘI DEZVOLTAREA AFACERII
                    ul.our-services__list
                        li Îți oferim soluții pentru dezvoltarea afacerii
                        li Îți propunem idei de afaceri la cheie
                        li Îți oferim posibilitatea de a dezvolta idea de afacere într-un parteneriat de succes

    include ../includes/connect-now
    include ../includes/footer-hidden
    include ../includes/socials-bottom
    include ../includes/scripts/ie-scripts

block scripts
    script(src="assets/libs/jquery-easy-scroll/jquery.easeScroll.js")
