//grid
$xs:  320px;
$md:  768px;
$xl:  1150px;

//colors
$white:  #fff;
$black:  #000;
$tundora: #9fa;

$accent: rgba(252, 204, 28, 1);
$accent-hex: #fccc1c;
$accent-light: #f0c116;
$shaddow: #8A7B45;
$lucky-point: #1A2B6D;
$boston-blue: #337BBC;
$mariner: #3078BE;
$pickled-bluewood: #324158;
$picton-blue: #3D9BE9;
$fiord: #445E6B;
$allports: #00739F;

